
.btn-nav {
    position: relative;
    margin-bottom: 20px;
}

.lockicon {
    position: absolute;
    background-color: white;
    border-radius: 14px;
    padding: 3px 5px 3px 5px;
    border: 1px solid #777;
    top: 20px;
    right: -9px;
    color: #777;
}

.top_nav_container {
    /*margin-bottom: -20px;*/
    z-index: 10;
}

.main_container{
    z-index: 1;
}

.slide_container {
    margin-left: -15px;
}

.info_label,
{
    position: absolute;
    z-index: 10;
}

@media all and (max-width: 1170px) {
    .balance_detalje_label,
    .genopretning_detalje_label,
    .gui_container,
    .btn_tjek,
    .label,
    .ok_btn,
    .btn_forfra .spm {
        font-size: 1.3vw;
    }
    .spm_numbers {
        font-size: 1vw;
    }
}

@media all and (min-width: 1171px) {
    .balance_detalje_label,
    .genopretning_detalje_label,
    .btn_tjek,
    .label,
    .ok_btn,
    .btn_forfra .gui_container,
    .spm {
        font-size: 14px;
    }
    .spm_numbers {
        font-size: 10px;
    }
}

.bg_container {
    position: relative;
}

.detalje_label {
    cursor: pointer;
    position: absolute;
    width: 3%;
    margin-left: 0px;
}

.microhint {
    box-shadow: none;
    max-width: 26%;
}

.btn_excel {}

#myAudio {
    opacity: 0;
}

.header_glyph {
    color: #999;
    font-size: 18px;
    margin-right: 5px;
    margin-left: -5px;
}

.btn_text {}

.glyphicon-info-sign {
    top: 3px;
    font-size: 15px;
    left: 4px;
    margin-right: 10px;
}

.label_header {
    margin-top: 5px;
}

.info_byline {
  color: white;
    top: 7%;
    position: absolute;
    left: 132%;
    font-size: 1.4vw;
    width: 150px;
}

h2{
    margin-top: 20px;
}

